* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

body {
    background-color: rgb(26, 26, 88);
    color: rgb(250, 216, 174);
}
h1,
h2,
h3 {
    text-align: center;
    margin: 18px auto;
    border: 1px solid white;
    width: 400px;
    padding: 8px 0;
    background-color: antiquewhite;
    color: black;
}

li {
    padding: 5px 0;
}

img {
    width: 400px;
    height: auto;
}

.images {
    width: 400px;
    margin: 18px auto;
}

.description {
    width: 400px;
    margin: 8px auto;
}

.description p {
    font-size: 18px;
    padding: 0 16px;
}

.description ul,
ol {
    padding: 0 28px;
}
